# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Environment
.env

# NiceGUI temp files
.storage/

# Build
dist/
build/

# Database backups
*.bak

plan.txt